<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Display</title>
</head>
<body>
    <a href="/dashboard">Home</a>
    <a href="/logout">Logout</a>
    <h2>{{item_name}}</h2>
    <p>Users who added this product/item under their wish list: <br><br>
        {% for user in userswhowantitem %}
            {{user.name}}
            <br>
        {% endfor %}
    </p>
</body>
</html>